form {
  text-align: center;
}

input[name="create"] {
  background-color: green;
  color: white;
}

input,
select {
  width: 350px; /*sets a consistent width */
  margin: 5px;
  padding: 8px;
  box-sizing: border-box; /*ensures padding doesn't increase total width*/
  appearance: none; /* removes browser-specific styling */
}
.results {
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
}
.results > div,
section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorange;
  border: 0.5px solid black;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  color: white;
}
