form {
  text-align: center;
}
input,
select {
  width: 300px; /*sets a consistent width */
  margin: 5px;
  padding: 5px;
  box-sizing: border-box; /*ensures padding doesn't increase total width*/
  appearance: none; /* removes browser-specific styling */
}
input[name="create"] {
  background-color: green;
  color: white;
}

div .box {
  display: inline-block;
  align-content: center;
  width: 250px;
  height: 50px;
  color: white;
  background-color: rgb(255, 144, 54);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
